<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Our House</title>

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.5/chartist.min.css" rel="stylesheet"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.5/chartist.min.js"></script> -->
    <!-- <script src="https://cdnjs.com/libraries/chart.js"></script> -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
